.search-input {
    width: 400px;
    padding: 16px 24px;
    border-radius: 25px;
    border: 0;
    outline: 0;

    font-size: 16px;

    background: #2d2f30;
    color: #f2f2f2;
}

.logo {
    text-align: center;
    margin-bottom: 35px;
}

.logo img {
    width: 200px;
}

.inputDiv {
    background: #323435;
    width: fit-content;
    max-height: 350px;
    min-height: fit-content;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
    border-radius: 25px;
}

.inputRightDiv {
    position: absolute;
    right: 0px;
    top: 0px;
}

.searchIconDiv {
    background-color: #ecd014;
    padding: 8px 10px;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 5px;
}

.searchIcon {
    width: 20px;
    margin: auto;
    cursor: pointer;
}

.closeIconDiv {
    position: absolute;
    top: 2px;
    right: 55px;
    padding: 5px 10px;
    padding-bottom: 0px;
    margin-top: 7px;
    border-right: 2px solid black;
}

.closeIcon {
    width: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .search-input {
        width: 80vw;
        padding: 16px 24px;
        border-radius: 25px;
        border: 0;
        outline: 0;
    
        font-size: 16px;
    
        background: #2d2f30;
        color: #f2f2f2;
    }
    
}