.person h1 {
    color: #ecd014;
}

.personCard {
    padding: 10px 30px;
    background-color: #616161;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 9px 0px #000000; 
    box-shadow: 3px 3px 9px 0px #000000;
}

.personCard b {
    color: black;
}

.personCard p {
    color: rgb(231, 231, 231);
}